
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>


<dict>
        <key>description</key>
        <string>A request meaning Let me know that you have received my message.</string>
        <key>word</key>
        <string>Acknowledge </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A request meaning  Tell me what you plan to do.</string>
        <key>word</key>
        <string>Advise Intentions</string>
    </dict>
    <dict>
        <key>description</key>
        <string>The term used by ATC for yes.</string>
        <key>word</key>
        <string>Affirmative </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A statement meaning that adherence to previously imposed altitude restriction is no longer required during a climb or descent.</string>
        <key>word</key>
        <string>Altitude Restrictions Are Cancelled </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used to prefix a message of noncontrol information when it is relayed to an aircraft by other than an air traffic controller.</string>
        <key>word</key>
        <string>Atc Advises </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used to prefix an ATC clearance when it is relayed to an aircraft by other than an air traffic controller.</string>
        <key>word</key>
        <string>Atc Clears </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used to prefix an ATC request when it is relayed to an aircraft by other than an air traffic controller.</string>
        <key>word</key>
        <string>Atc Requests</string>
    </dict>
    <dict>
        <key>description</key>
        <string>The phrase used to indicate that a radio transmission has been distorted or interrupted due to multiple simultaneous radio transmissions.</string>
        <key>word</key>
        <string>Blocked </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC to inform the pilot that he must circle to land because the runway in use is other than the runway aligned with the instrument approach procedure.</string>
        <key>word</key>
        <string>Circle To Runway (Runway Number) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC to advise an aircraft that the departure clearance is automatically cancelled if takeoff is not made prior to a specific time.</string>
        <key>word</key>
        <string>Clearance Void If Not Off By (Time) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to execute a specific instrument approach to an airport.</string>
        <key>word</key>
        <string>Cleared For (Type Of) Approach</string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to execute any standard or special instrument approach for that airport.</string>
        <key>word</key>
        <string>Cleared For Approach </string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to depart.</string>
        <key>word</key>
        <string>Cleared For Takeoff </string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to make a touch-and-go, low approach, missed approach, stop-and-go, or full-stop landing at the discretion of the pilot.</string>
        <key>word</key>
        <string>Cleared For The Option </string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization aircraft to make intermediate stops at specified airports without refilling a flight plan while enroute to the clearance limit.</string>
        <key>word</key>
        <string>Cleared Through </string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to land.</string>
        <key>word</key>
        <string>Cleared To Land</string>
    </dict>
    <dict>
        <key>description</key>
        <string>ATC authorization for an aircraft to climb to VFR conditions within a control zone when the only weather limitation is restricted visibility.</string>
        <key>word</key>
        <string>Climb To Vfr </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC when a specific altitude restriction at a specified fix is required.</string>
        <key>word</key>
        <string>Cross (Fix) At (Altitude) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC when an altitude restriction at a specified fix is required.</string>
        <key>word</key>
        <string>Cross (Fix) At Or Above (Altitude)</string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC when a maximum crossing altitude at a specific fix is required.</string>
        <key>word</key>
        <string>Cross (Fix) At Or Below (Altitude) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by ATC to inform a pilot when an accurate estimate of the delay time and the reason for the delay cannot immediately be determined.</string>
        <key>word</key>
        <string>Delay Indefinite (Reason, If Known) Expect Further Clearance Time </string>
    </dict>
    <dict>
        <key>description</key>
        <string>An instruction issued to a pilot on an instrument approach, directing him to continue inbound to the missed-approach point and then to execute the missed-approach point and then to execute the missed-approach procedure, as described on the Instrument Approach Procedure Chart or as previously assigned by ACT.</string>
        <key>word</key>
        <string>Execute Missed Approach </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A portion of an instrument departure clearance, to provide a pilot with an altitude to be used in the event of two-way radio communication failure.</string>
        <key>word</key>
        <string>Expect (Altitude) At (Time) Or (Fix) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>The time an operator can expect a gate release.</string>
        <key>word</key>
        <string>Expect Departure Clearance (Time) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>The time a pilot can expect to receive clearance beyond a clearance limit.</string>
        <key>word</key>
        <string>Expect Further Clearance (Time) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>This phrase is used by air traffic controllers to inform a pilot of the routing he may expect if any part of the route beyond a short range clearance limit differs from that filed.</string>
        <key>word</key>
        <string>Expect Further Clearances Via (Airways, Routes, Or Fixes) </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A warning used by air traffic controllers when prompt compliance is required in order to avoid the development of an imminent situation.</string>
        <key>word</key>
        <string>Expedite </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A call-sign prefix used by FAA aircraft engaged inspection/certification of navigational aids and flight procedures.</string>
        <key>word</key>
        <string>Flight Check </string>
    </dict>
    <dict>
        <key>description</key>
        <string>Instructions issued by ATC to a pilot directing him to turn to and continue in a specific compass direction.</string>
        <key>word</key>
        <string>Fly HeadingDegrees </string>
    </dict>
    <dict>
        <key>description</key>
        <string>A phrase used by either pilots or controllers that relates to the fuel remaining on board until actual fuel exhaustion.</string>
        <key>word</key>
        <string>Fuel Remaining </string>
    </dict>
</array>
</plist>

